{{define "login"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.title}}</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100 flex items-center justify-center min-h-screen">
    <div
      class="login-container bg-white rounded-lg shadow-xl p-8 max-w-md w-full"
    >
      <div class="login-icon mb-6 flex justify-center">
        <svg
          class="w-24 h-24 text-green-500"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"
          ></path>
        </svg>
      </div>
      <h1 class="text-3xl font-bold text-center text-gray-800 mb-6">
        Login to Tusk
      </h1>
      <div class="space-y-4">
        <a
          href="/auth/google"
          class="block w-full bg-blue-800 text-white py-2 px-4 rounded text-center hover:bg-gray-600 transition duration-200"
        >
          Login with Google
        </a>
        <a
          href="/auth/github"
          class="block w-full bg-purple-800 text-white py-2 px-4 rounded text-center hover:bg-gray-900 transition duration-200"
        >
          Login with GitHub
        </a>
      </div>
    </div>
  </body>
</html>
{{end}}
